/* Color palette
#5680E9
#84CEEB
#5AB9EA
#C1C8E4
#8860D0
*/
.card-columns .card {
    transition: 0.4s;
}
.card-columns .card:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background: #e5e5e5;
}