<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cards</title>
    <link rel="stylesheet" th:href="@{/css/quill.css}"/>
    <link rel="stylesheet" th:href="@{/css/_bootstrap_reboot.css}"/>
    <link rel="stylesheet" th:href="@{/css/_bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>
</head>
<body>
<div class="backgroundImage"></div>
    <div class="container">
        <div class="row">
            <input type="text" class="form-control updateStackInput col" placeholder="Change stackname">
            <button type="submit" class="btn btn-primary btnUpdateStack">Update</button>
            <a href="/" class="btn btn-primary btnDeleteStack">Delete</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="container cardsContainer">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="container">
                <div class="addNewCard">
                    <div class="card p-1 mt-3">
                        <div class="row align-items-end">
                                                <div class="col-12 col-sm-6 align-self-start mt-1">
                                                    <div class="cardQuestion"></div>
                                                </div>
                                                <div class="col-12 col-sm-6 align-self-start mt-1">
                                                    <div class="cardAnswer"></div>
                                                </div>
                                                <div class="col-12 align-self-center text-center mt-2">
                                                    <button type="submit" class="btn btn-primary btnAddNewCard">Add</button>
                                                </div>
                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="newCard-template" type="text/x-handlebars-template">
        {{#each this}}
            <div class="card p-1 mt-3">
                <div class="row align-items-end cardItem">
                                <div class="col-12 col-sm-6 align-self-start mt-1">
                                    <div class="cardQuestion">{{{question}}}</div>
                                </div>
                                <div class="col-12 col-sm-6 align-self-start mt-1">
                                    <div class="cardAnswer">{{{answer}}}</div>
                                </div>
                                <div class="col-12 align-self-center text-center mt-2 mb-2">
                                    <button type="submit" class="btn btn-primary btnUpdateCard">Update</button>
                                    <button type="submit" class="btn btn-primary btnDeleteCard">Delete</button>
                                </div>
                            </div>
            </div>
        {{/each}}
    </script>
    <script type="text/javascript" th:src="@{/js/lib/quill.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/handlebars-v4.5.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/card.js}"></script>
</body>
</html>