<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/_bootstrap_reboot.css}"/>
    <link rel="stylesheet" th:href="@{/css/_bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/stacks.css}"/>
</head>
<body>
    <h1>
        <span>Welcome to the home screen (>*.*)></span>
        <span class="icon-home"></span>
        <span class="icon-books"></span>
        <span class="icon-stack"></span>
    </h1>
    <div class="stackContainer">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <script id="stacks-template" type="text/x-handlebars-template">
        <div class="card-columns">
            {{#each this}}
                <a href="./stacks/{{stackid}}" class="text-reset">
                   <div class="card">
                       <div class="card-body">
                           <h5  class="card-title">{{stackname}}</h5>
                           <p class="card-text"><small class="text-muted">{{cardCount}} terms</small></p>
                       </div>
                   </div>
               </a>
            {{/each}}
        </div>
    </script>
    <script type="text/javascript" th:src="@{/js/lib/handlebars-v4.5.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/stacks.js}"></script>
</body>
</html>